In [1]:
import pandas as pd
df = pd.read_csv('cleaned_cuisines.csv')
df.head()

,Unnamed: 0,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, classification_report,precision_recall_curve
from sklearn.svm import SVC
import numpy as np

In [3]:
labels = df['cuisine']
labels.head(10)

0    indian
1    indian
2    indian
3    indian
4    indian
5    indian
6    indian
7    indian
8    indian
9    indian
Name: cuisine, dtype: object

In [4]:
features = df.drop(['Unnamed: 0','cuisine'],axis=1)
features.head(10)

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

## Build a model

In [5]:
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.3)

## Applied Logistic Regression

In [6]:
lr = LogisticRegression(multi_class='ovr', solver='liblinear')
model = lr.fit(X_train, y_train)

accuracy = model.score(X_test, y_test)
print('Accuracy : ',accuracy)

Accuracy :  0.798999165971643

In [7]:
print('ingredient: ',X_test.iloc[50][X_test.iloc[50]!=0].keys())
print('cuisine: ', y_test.iloc[50])

ingredient:  Index(['black_pepper', 'cayenne', 'chicken', 'roasted_sesame_seed', 'scallion',
       'soy_sauce', 'soybean'],
      dtype='object')
cuisine:  korean

In [8]:
test = X_test.iloc[50].values.reshape(-1,1).T
proba = model.predict_proba(test)
classes = model.classes_
result_df = pd.DataFrame(data=proba, columns=classes)
topPrediction = result_df.T.sort_values(by=[0], ascending=[False])
topPrediction.head()

                 0
korean    0.958533
chinese   0.029098
thai      0.010033
japanese  0.001746
indian    0.000590

In [9]:
y_pred = model.predict(X_test)
print(y_pred)
print(classification_report(y_test, y_pred))

['japanese' 'thai' 'thai' ... 'indian' 'japanese' 'korean']
              precision    recall  f1-score   support

     chinese       0.74      0.71      0.72       230
      indian       0.92      0.88      0.90       235
    japanese       0.69      0.74      0.72       217
      korean       0.88      0.79      0.83       273
        thai       0.77      0.87      0.82       244

    accuracy                           0.80      1199
   macro avg       0.80      0.80      0.80      1199
weighted avg       0.80      0.80      0.80      1199