In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('diabetes-dataset.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0

In [4]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [13]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,3.703500,121.182500,69.145500,20.935000,80.254000,32.193000,0.470930,33.090500,0.342000
std,3.306063,32.068636,19.188315,16.103243,111.180534,8.149901,0.323553,11.786423,0.474498
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,63.500000,0.000000,0.000000,27.375000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,40.000000,32.300000,0.376000,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,130.000000,36.800000,0.624000,40.000000,1.000000
max,17.000000,199.000000,122.000000,110.000000,744.000000,80.600000,2.420000,81.000000,1.000000

In [16]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [17]:
df['Outcome'].value_counts()

0    1316
1     684
Name: Outcome, dtype: int64

In [19]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.168693,110.586626,68.094985,20.052432,70.563830,30.567477,0.434676,31.081307
1,4.732456,141.568713,71.166667,22.633041,98.897661,35.320468,0.540681,36.956140

In [28]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,2,138,62,35,0,33.6,0.127,47
1,0,84,82,31,125,38.2,0.233,23
2,0,145,0,0,0,44.2,0.630,31
3,0,135,68,42,250,42.3,0.365,24
4,1,139,62,41,480,40.7,0.536,21
...,...,...,...,...,...,...,...,...
1995,2,75,64,24,55,29.7,0.370,33
1996,8,179,72,42,130,32.7,0.719,36
1997,6,85,78,0,0,31.2,0.382,42
1998,0,129,110,46,130,67.1,0.319,26
1999,2,81,72,15,76,30.1,0.547,25

In [29]:
y

0       1
1       0
2       1
3       1
4       0
       ..
1995    0
1996    1
1997    0
1998    1
1999    0
Name: Outcome, Length: 2000, dtype: int64

In [31]:
scaler = StandardScaler()

In [32]:
scaler.fit(X) # scaler.fit_transform(X)

StandardScaler()

In [33]:
scaled_df = scaler.transform(X)

In [39]:
scaled_df

array([[-0.5153943 ,  0.52455322, -0.37248123, ...,  0.17268332,
        -1.06324616,  1.18042417],
       [-1.12049474, -1.1597562 ,  0.67008046, ...,  0.73724853,
        -0.7355513 , -0.85632626],
       [-1.12049474,  0.74288962, -3.60442246, ...,  1.47363794,
         0.49175869, -0.17740945],
       ...,
       [ 0.69480658, -1.12856529,  0.46156812, ..., -0.12187245,
        -0.27492362,  0.75610116],
       [-1.12049474,  0.24383498,  2.12966682, ...,  4.28419085,
        -0.46968566, -0.60173245],
       [-0.5153943 , -1.25332895,  0.14879962, ..., -0.25687717,
         0.23516743, -0.68659705]])

In [40]:
X = scaled_df

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=0)

In [43]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1600, 8)
(400, 8)
(1600,)
(400,)

In [44]:
classifier = svm.SVC(kernel='linear')

In [46]:
classifier.fit(X_train, y_train)

SVC(kernel='linear')

In [49]:
ytrain_pred = classifier.predict(X_train)
ytest_pred = classifier.predict(X_test)

In [51]:
print('Train Accuracy_score: ', accuracy_score(ytrain_pred, y_train))
print('Test Accuracy_score: ', accuracy_score(ytest_pred, y_test))

Train Accuracy_score:  0.7775
Test Accuracy_score:  0.8075

### train_accuracy > test_accuracy (overfitting)

In [75]:
test = (0,135,68,42,250,42.3,0.365,24)
test_array = np.asarray(test)
test_reshaped = test_array.reshape(1,-1)
test = scaler.transform(test_reshaped)
pred = classifier.predict(test)
print(pred[0])
if pred[0] == 0:
    print('Person is not diabetic')
else:
    print('Person is diabetic')

0
Person is not diabetic